body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #e0e0e0;
    background-image: url('concrete-texture.jpg'); /* Tekstura betonu */
    background-size: cover;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: 	#696969;
    color: #fff;
    padding: 30px 0;
    border-bottom: 4px solid #333;
    background-image: url('concrete-texture.jpg');
    background-size: cover;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header .sub-header {
    font-size: 1.5em;
    margin: 10px 0 0;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-size: 1.2em; /* Zwiększenie rozmiaru czcionki */
}

nav ul li a:hover {
    background-color: #555;
}

nav ul .dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333;
    text-align: left;
    border-top: 4px solid #4f4f4f;
    z-index: 1;
    padding: 0;
}

nav ul .dropdown li {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    color: white; /* Zmiana koloru czcionki na białą */
}

nav ul .dropdown li:hover {
    background-color: #555;
}

nav ul li:hover .dropdown {
    display: block;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #e0e0e0; /* Dodatkowy akcent betonowy */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4f4f4f;
    color: #fff;
    border-top: 4px solid #333;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #555;
}

h3 {
    font-size: 1.5em;
    color: #666;
}

p, ul, ol {
    margin: 1em 0;
}

ul {
    padding-left: 1.5em;
}

ul li {
    margin-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.contact-info a:hover {
    color: #555;
}

.phone-icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

#references {
    display: flex;
    flex-direction: column; /* Ustawia układ w kolumnie dla sekcji */
    align-items: center; /* Wyśrodkowuje wszystkie elementy w poziomie */
    gap: 20px; /* Dodaje przestrzeń między nagłówkiem a zdjęciami */
    padding: 20px;
}

.reference-item-container {
    display: flex; /* Ustawia zdjęcia obok siebie */
    flex-wrap: wrap; /* Pozwala na zawijanie zdjęć w nowy wiersz, jeśli jest to potrzebne */
    justify-content: center; /* Wyśrodkowuje zdjęcia w poziomie */
    gap: 20px; /* Dodaje przestrzeń między zdjęciami */
}

.reference-item {
    flex: 1 1 calc(50% - 20px); /* Ustawia szerokość każdego elementu na 50% z uwzględnieniem marginesów */
    box-sizing: border-box; /* Uwzględnia padding i border w szerokości i wysokości */
    text-align: center;
}

.reference-item img {
    width: 100%; /* Ustawia szerokość obrazu na 100% szerokości rodzica */
    height: auto; /* Automatycznie dostosowuje wysokość, aby zachować proporcje */
    max-width: 400px; /* Ogranicza maksymalną szerokość do 400px */
    display: block;
    margin: 0 auto; /* Wyśrodkowuje obraz w poziomie w ramach rodzica */
}
